@model Movie
@{
    ViewData["Title"] = "Create Movie";
}

<div>
    <h3>@ViewData["Title"]</h3>

    <div id="movie-form-holder" class="well">
        <form id="movie-form" asp-action="Create"> 
            <div class="form-group">
                <label asp-for="Title">Title:</label>
                <input type="text" asp-for="Title" class="form-control">
            </div>

            <div class="form-group">
                <label asp-for="Director">Director:</label>
                <input type="text" asp-for="Director" class="form-control">   
            </div>

            <div class="form-group">
                <label asp-for="Year">Year:</label>
                <input type="number" asp-for="Year" class="form-control">
            </div>
            <button type="submit" id="form-submit" class="btn btn-success">Add Movie</button>
        </form>
    </div>

</div>