@{
    ViewData["Title"] = "All Movies";
}

<div>
    <h3>@ViewData["Title"]</h3>
    <div id="movie-table-holder">
        <table id="movie-table" class="table-striped table table-bordered">
            <tr >
                <th>Title</th>
                <th>Director</th>
                <th>Year</th>
                <th>Delete</th>
            </tr>
        </table>
    </div>
</div>